/* Over-ride Browser Defaults */
* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

html {
     font-size: 92.5%;
}

body {
     background: #2B292E;
     color: #fafafa;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 1.6rem;
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
}

span {
     border-bottom: 1px solid #534f59;
     display: inline-block;
     font-size: 2rem;
     height: 2.4rem;
     line-height: 2.4rem;
     margin: 0 .1rem;
     text-align: center;
     text-transform: uppercase;
     width: 2.4rem;
}

p {
     font-weight: 300;
     margin-bottom: .8rem;
}

.gameTitle {
  display: block;
  margin-bottom: 125px;
  text-align: center;
}
.puzzle {
     display: flex;
     margin-bottom: 4.8rem;
}
.gameInfo {
  width: 550px;
  margin: 0 auto;
}
.gameElements {
  text-transform: uppercase;
}

.field {
  padding: 5px;
  display: block;
}

.button {
  background: #77993f;
  border: none;
  border-bottom: 2px solid #355820;
  cursor: pointer;
  color: white;
  float: right;
  font-size: 1.4rem;
  font-weight: 300;
  padding: .8rem;
  transition: background .3s ease, color .3s ease;
}


.button:hover {
     background: rgb(27, 70, 14);
}

#wordCount {
  margin-top: 20px
}
